TMDB_API_KEY=coloca_aqui_a_tua_chave_tmdb
PUBLIC_URL=https://marvel.example.com
DOMAIN=marvel.example.com
TRAEFIK_CERTRESOLVER=dns-cloudflare
IMAGE_NAME=ghcr.io/dein-github-benutzer/addon-marvel
IMAGE_TAG=latest
